.Box {
    width: 100%;
    line-height: 1.5em;
}

.Box>div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.Review {
    display: flex;
    align-items: center;
    margin-top: 0px;
    gap: 10px;
}

.Review input {
    border: 1px solid green;
}

.Box img {
    width: 100%;
}

.Box h4,
p {
    margin: 0px 0px;
}


.Box:hover {
    opacity: .8;
    cursor: pointer;
}

.Box h3:nth-child(1):hover {
    text-decoration: underline;
}